@tailwind base;
@tailwind components;
@tailwind utilities;

/* This helps clean up the look immediately */
body {
  background-color: #f3f4f6; /* Light gray background */
  color: #111827;            /* Dark text */
}